---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Welcome Sala Blow.">
    <div></div>
    <section
    class={`
        w-full max-w-[1400px] 
        grid grid-cols-1 auto-rows-[25rem] gap-4 
        mx-auto p-20
        `}>
        
    <iframe src="https://venta.enterticket.es/buy/?id=34794" id="etktfrm34794" width="100%" frameBorder="0"></iframe><script type="text/javascript" src="https://d31tcnbxvxtafg.cloudfront.net/js/libraries/buy.js"></script>
        
    </section>
    
</Layout>