---
import Bentoitem from "./Bentoitem.astro";
import Bentoitem_tiket from "./Bentoitem_tiket.astro";
---
  
<section
class={`
    w-full max-w-[1400px] 
    grid grid-cols-10 auto-rows-[25rem] gap-4 
    mx-auto p-20
    `}
    >

    <Bentoitem class="col-span-10 md:col-span-4" title="FAQ" subtitle="">
        
        <div 
            slot="bento_img"
            class="absolute left-0 top-0 bottom-0 h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/public/'); background-size: cover; height: 100%; width: 100%"
            ></div>

        <p slot="bento_content" class="max-w-x text-justify" id="bento_p">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, magnam eveniet? Cumque earum autem, maxime aliquam similique et dolorum cupiditate temporibus doloribus commodi. Magnam aliquam sint fugit illum minus, tenetur iusto sapiente nobis quasi, quam esse numquam aliquid consequuntur, saepe ab optio non earum nihil quaerat reiciendis totam sit? Vitae, beatae quis!
        </p>
    </Bentoitem>
    <Bentoitem class="col-span-10 md:col-span-4" title="About Us" subtitle="">
        <div 
            slot="bento_img"
            class="absolute left-0 top-0 bottom-0 h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/images/'); background-size: cover; height: 100%; width: 100%"
            >
        </div>
        <p slot="bento_content" class="max-w-x text-justify" id="bento_p">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, magnam eveniet? Cumque earum autem, maxime aliquam similique et dolorum cupiditate temporibus doloribus commodi. Magnam aliquam sint fugit illum minus, tenetur iusto sapiente nobis quasi, quam esse numquam aliquid consequuntur, saepe ab optio non earum nihil quaerat reiciendis totam sit? Vitae, beatae quis!
         </p>
    </Bentoitem>
    
    <Bentoitem_tiket class="col-span-10 md:col-span-8" title="Tickets" subtitle="Compra tus  entradas aquí" href="ticket0"></Bentoitem_tiket>
    
</section>
<section
class={`
    w-full max-w-[1400px] 
    grid grid-cols-10 auto-rows-[25rem] gap-4 
    mx-auto p-14
    `}
    ></section>
<style>
    p#bento_p{
        margin-left: 3%;
        margin-right: 3%;
    }

    #bento_marco{
        background-color: antiquewhite;
    }
    #bento_p{
        color: aqua;
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    @media (min-width: 768px) {
        .md\:col-span-888 {
            grid-column: span 8 / span 8;
            max-height: 100px;
        }
    }
    #tickets_marco{
        max-height: 500px;
        
    }
    
</style>