---
import Bentoitem from "./Bentoitem.astro";
import Bentoitem_tiket from "./Bentoitem_tiket.astro";
---
  
<section
class={`
    w-full max-w-[1400px] 
    grid grid-cols-10 auto-rows-[25rem] gap-4 
    mx-auto p-20
    `}
    >

    <Bentoitem class="col-span-10 md:col-span-4" title="Sala Blow" subtitle="">
        
        <div 
            slot="bento_img"
            class="absolute left-0 top-0 bottom-0 h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/images/blow copy.svg'); background-size: cover; height: 100%; width: 100%"
            ></div>

        <p slot="bento_content" class="max-w-x text-justify" id="bento_p">
            Bienvenidos a todos a una nueva manera de ver las fiestas, las discotecas y la propia vida de la noche para los que amamos el rap.
            La iniciativa Blow propone crear una discoteca donde poder ir sin ninguna restricción social, a disfrutar de esa música que solo escuchas tú y que nunca se deja ver por las discotecas convencionales.
            Primera edición 16.03.24
        </p>
    </Bentoitem>
    <Bentoitem class="col-span-10 md:col-span-4" title="Sala Blow" subtitle="HOLA">
        <div 
            slot="bento_img"
            class="absolute left-0 top-0 bottom-0 h-full group-hover:scale-110 transition-scale duration-1000 ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/images/sala1.jpg'); background-size: cover; height: 100%; width: 100%"
            >
        </div>
    </Bentoitem>
    
    <Bentoitem_tiket class="col-span-10 md:col-span-8" title="Tickets" subtitle="Compra tus  entradas aquí" href="ticket0"></Bentoitem_tiket>
    
</section>
<section
class={`
    w-full max-w-[1400px] 
    grid grid-cols-10 auto-rows-[25rem] gap-4 
    mx-auto p-14
    `}
    ></section>
<style>
    p#bento_p{
        margin-left: 3%;
        margin-right: 3%;
    }

    #bento_marco{
        background-color: antiquewhite;
    }
    #bento_p{
        color: aqua;
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    @media (min-width: 768px) {
        .md\:col-span-888 {
            grid-column: span 8 / span 8;
            max-height: 100px;
        }
    }
    #tickets_marco{
        max-height: 500px;
        
    }
    
</style>