---
import Scroll from '../components/Scroll.astro';
---
<div class="w-full h-screen relative" id="marco1s">
  <div class="w-full h-screen relative" id="marco1">
    <div class="relative" id="marco" class="w-full">
      <div class="w-full relative" id="marcoIMG">
        <img class="w-full h-auto" src="/blow.svg"/>
        <img
          id="blur"
          class="absolute -bottom-4 blur-3xl -z-40 opacity-99 transition-opacity duration-1000  animate-pulse animate-duration-1000 "
          src="/blow.svg"
          onload="document.getElementById('blur').classList.add('opacity-0')"
        />
      </div>
      <Scroll />
    </div>
  </div>

  <div class="separador1" >
    <h1>hello</h1>
  </div>
</div>
<br><br>

<style>
  #marco1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #marco {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #marcoIMG {
    width: 80%;
  }

  .separador1 {
    display: flex;
  }

  h1{
    color: azure;
  }

  @media (max-width: 640px) {
    #marco {
      width: 100%;
    }
  }

  @keyframes pulse {
    50% {
        opacity: .5;
    }
  }
  .animate-pulse {
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 3;
  }

  /* @keyframes pulse {
    50% {
        opacity: .5;
    }
}
.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
} */
</style>
