---
import Scroll from '../components/Scroll.astro';
---
<div class="relative" id="marco">
  <div class="w-full relative" id="marcoIMG">
    <img class="w-full h-auto" src="/blow.svg" />
    <img
      id="blur"
      class="w-full absolute -bottom-4 blur-3xl -z-40 opacity-99 transition-opacity duration-1000"
      src="/blow.svg"
      onload="document.getElementById('blur').classList.add('opacity-0')"
    />
  </div>
  <Scroll />
</div>

<style>
  #marco {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 640px) {
    #marco {
      width: 100%;
    }
  }
</style>
