---

---
<div class="info_marco w-full relative">
    <section class="text-xl text-left px-20 max-w-[60ch] text-pretty">
        <img class="w16 mb-10 m-auto" id="info_logo" src="/blow.svg" alt="">
        <img
          id="info_logo_blur"
          class="absolute -bottom-5 blur-3xl -z-40 opacity-99 transition-opacity animate-pulse animate-duration-1000 "
          src="/blow.svg"
          onload="document.getElementById('info_logo_blur').classList.add('opacity-0')"
        />
        <img class="absolute -bottom-1 blur-1xl -z-40 opacity-99" id="info_logo" src="/blownegro.svg" alt="">

        <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide animate-jump" id="info_h1">
            Bienvenidos/as<br />a la Sala Blow
        </h1>
        <div id="info_parrafo" class="">
        <p >
            Bienvenidos a todos a una nueva manera de ver las fiestas, las discotecas y la propia vida de la noche para los que amamos el rap.

            La iniciativa Blow propone crear una discoteca donde poder ir sin ninguna restricción social, a disfrutar de esa música que solo escuchas tú y que nunca se deja ver por las discotecas convencionales.

            Primera edición 16.03.24
        </p>
        </div>
    </section>
</div>

<style>

    .info_marco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #info_logo {
        width: 35%; 
    }
    #info_logo_blur {
        width: 35%; 
    }
    #info_h1{
        color: aqua;
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    #info_parrafo{
        color: azure;
        font-family: "Rubik Spray Paint", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    @keyframes pulse {
        5% {
            opacity: .3;
        }
    }
    .animate-pulse {
        animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) 7;
    }
    @keyframes ping {
        75%, 100% {
            transform: scale(1);
            opacity: 0.75;
        }
    }
    .animate-ping {
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 2;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    .animate-spin {
        animation: spin 1s linear 1;
    }
</style>