
<div class="w-full relative">
    <img class="absolute" alt="hola" />
    <form action="" class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto">
        <label for="search" class="sr-only">Search</label>
    </form>
    <video src="/video.mp4" autoplay loop muted class="w-full h-screan object-cover object-top"></video>
</div>